<template>
<div class="">
    <v-card color="" class="elevation-0"  height="68px" >
      <v-toolbar color="red accent-2" dark fixed height="70">
        <v-toolbar-title>
          <span>
            <v-avatar >
               <img :src="require('../assets/pokedex.png')" alt="avatar">
             </v-avatar>
            Pokedex 2.0
          </span>
          <!-- <h3>{{this.$store.state.empresa.nombreEmpresa}}</h3> -->
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- <v-btn icon>
          <v-icon>search</v-icon>
        </v-btn> -->
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn href="/" flat >
            <v-icon>home</v-icon>
          </v-btn>
          <v-menu >
            <template v-slot:activator="{ on }">
              <v-btn
              icon
              v-on="on"
              >
              <v-icon>more_vert</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-tile
            v-for="(item, i) in locales"
            :key="i"
            @click="switchLocale(item)"
            >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
          <v-btn   flat>
            <v-icon>power_settings_new</v-icon>
          </v-btn>

        </v-toolbar-items>
      </v-toolbar>
    </v-card>
  </div>
</template>

<script>

export default {
  data: () => ({
    drawer: false,
    items: [
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me 2' }
    ],
    mini: true,
    locales: process.env.VUE_APP_I18N_SUPPORTED_LOCALE
  }),
  methods: {
    switchLocale (locale) {
      if (this.$i18n.locale !== locale) {
        this.$i18.locale = locale
      }
    }
  }
}
</script>

<style lang="css">
</style>
