<template lang="html">
  <div>
     <v-container class="pokeBack"  fluid>
       <v-layout row wrap justify-center >
         <v-flex xs12 lg4 sm12>
             <v-layout justify-center>
               <img class="mb-3" :src="require('../assets/logo-pokemon.png')">
             </v-layout>
             <v-text-field solo @keyup.enter="findPokemon" v-model="pokemonName"
             prepend-icon="search" :label="$t('labelSearch')">
             </v-text-field>

             <v-btn block class="blue-grey darken-3 pa-4 white--text" @click="findPokemon">{{$t('Search')}}</v-btn>
             <v-progress-linear v-if="progressBar" height="2" width="5"  v-bind:indeterminate="progressBar"></v-progress-linear>
         </v-flex>
       </v-layout>
     </v-container>
     <v-divider></v-divider>
 <v-container>
   <v-layout row wrap justify-center>
     <v-flex xs10 >
       <div class="text-xs-center">
         <v-pagination
           v-model="page"
           :length="112"
           @input="indexSelected()"
           @next="nextPage()"
           @previous="previousPage()"
           :total-visible="5"
         ></v-pagination>
       </div>
       <v-list>
          <v-list-tile
            v-for="item in pokemons"
            :key="item.name"
            avatar
            @click="onSelectedPokemon(item.name)"
          >
            <v-list-tile-action>
              <v-list-tile-avatar v-if="item.url !== undefined">
                <img :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+item.url.substring(34, item.url.length-1)+'.png'">
              </v-list-tile-avatar>
              <v-list-tile-avatar v-else>
                <img :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+item.id+'.png'">
              </v-list-tile-avatar>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title v-text="item.name"></v-list-tile-title>
              <v-list-tile-sub-title v-if="item.url !== undefined" v-html="item.url.substring(34, item.url.length-1)"></v-list-tile-sub-title>
              <v-list-tile-sub-title v-else v-html="item.id"></v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-avatar>
              <img :src="require('../assets/pokeball.png')">
            </v-list-tile-avatar>
          </v-list-tile>
        </v-list>
     </v-flex>
   </v-layout>
 </v-container>
 <v-dialog v-model="modal" persistent v-if="selectedPokemon"  >

     <v-card class="pa-5">
       <pokemon-view :pokemon="selectedPokemon"></pokemon-view>
       <br>
       <v-divider></v-divider>
       <br>
       <h3>{{$t('Abilities')}}</h3>
       <div class="ml-3" v-for="ability in selectedPokemon.abilities" :key="ability.ability.name">
         {{ability.ability.name}}
       </div>
       <br>
       <v-divider></v-divider>
       <br>
       <h3>{{$t('Forms')}}</h3>
       <div class="ml-3" v-for="form in selectedPokemon.forms" :key="form.name">
         {{form.name}}
       </div>
       <br>
       <v-divider></v-divider>
       <br>
       <h3>{{$t('Moves')}}</h3>

       <v-chip class="ml-3" v-for="move in selectedPokemon.moves" :key="move.move.name">
         {{move.move.name}}
       </v-chip>
       <br>
       <v-divider></v-divider>
       <br>
       <h3>{{$t('Stats')}}</h3>

       <div class="ml-3" v-for="stat in selectedPokemon.stats" :key="stat.stat.name">
         Name: {{stat.stat.name}}<br>
         Base stat: {{stat.base_stat}}<br>
         <v-progress-linear color="primary" height="2" width="5" v-model="stat.base_stat"></v-progress-linear>
         Effort:  {{stat.effort}}
         <v-progress-linear color="red" height="2" width="5" v-model="stat.effort"></v-progress-linear>
       </div>
       <br>
       <v-divider></v-divider>
       <br>
       <h3>{{$t('Game_indices')}}</h3>
       <v-chip class="ml-3" v-for="indice in selectedPokemon.game_indices" :key="indice.version.name">
         {{indice.version.name}}<br>
       </v-chip>
       <br>
       <v-divider></v-divider>
       <br>
       <pokemon-view :pokemon="selectedPokemon"></pokemon-view>
       <br>
       <v-divider></v-divider>
       <br>
       <v-card-actions>
         <v-layout row wrap justify-space-between>
           <v-flex xs12 md4 sm12>
             <div class="grid">
               <div class="row">
                 <div class="cell"></div>
                 <div class="cell"> <v-btn small @click="navigatePokemon(-1)" class="buttonContainer black white--text"><v-icon>fa-arrow-up</v-icon></v-btn></div>
                 <div class="cell"></div>
               </div>
               <div class="row">
                 <div class="cell"> <v-btn small @click="navigatePokemon(-1)" class="buttonContainer black white--text arrow-left">  <v-icon>fa-arrow-left</v-icon></v-btn></div>
                 <div class="cell"> <v-btn small class="buttonContainer black white--text"><v-icon>fa-arrows</v-icon></v-btn></div>
                 <div class="cell"> <v-btn small @click="navigatePokemon(1)" class="buttonContainer black white--text"><v-icon>fa-arrow-right</v-icon></v-btn></div>
               </div>
               <div class="row">
                 <div class="cell"></div>
                 <div class="cell"> <v-btn small @click="navigatePokemon(1)" class=" buttonContainer black white--text"><v-icon>fa-arrow-down</v-icon></v-btn></div>
                 <div class="cell"></div>
               </div>
             </div>
           </v-flex>
           <v-flex class="mt-2 ml-4"  xs12 md6 sm12 lg6 >
             <v-layout row wrap justify-center>
               <v-flex offset-sm6 offset-md2 offset-lg7>
                 <v-btn class="red darken-1 white--text" flat @click="modal = false">Exit</v-btn>
                 <v-btn class="blue darken-1 white--text" flat @click="modal = false">Accept</v-btn>
               </v-flex>
             </v-layout>
           </v-flex>
         </v-layout>
       </v-card-actions>
     </v-card>
   </v-dialog>
   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-footer class="pa-5">
      <v-layout row wrap justify-center>
        <v-flex xs6>
          Change Language
          <li class="cursor" @click="switchLocale('en')" >En</li>
          <li class="cursor" @click="switchLocale('es')" >Es</li>
          <li class="cursor" @click="switchLocale('ru')" >Ru</li>
        </v-flex>
        <v-flex xs6>
            Kevin Alberto De La Fuente Tamez -
            Software engeenier
        </v-flex>
        <v-flex xs12>
        </v-flex>
      </v-layout>
    <v-spacer></v-spacer>
    <div>&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
</div>
</template>

<script>
import pokemonView from './pokemonView'
export default {
  data: () => ({
    items: [
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me 2' }
    ],
    snackbar: false,
    text: 'Pokemon not found in this dataset. Press [Enter] to keep the search',
    timeout: 5000,
    progressBar: false,
    page: 1,
    next: '',
    previous: '',
    paginationPage: 'pokemon?limit=10&offset=0',
    pokemonName: 'ditto',
    height: 0,
    modal: false,
    selectedPokemon: null,
    pokemons: []
  }),
  created () {
    this.height = window.innerHeight.toString()
    this.getPokemonList()
  },
  components: {
    'pokemon-view': pokemonView
  },
  watch: {
    pokemonName: function (val) {
      if (!isNaN(val) && val !== '') {
        console.log('search by number, Ignoring refresh')
      } else {
        console.log('is  Not number!')
        var TempPokemons = []
        if (this.pokemons.length === 10) {
          this.pokemonsTemp = this.pokemons
        } else if (val === '') {
          this.pokemons = this.pokemonsTemp
        }

        for (var i = 0; i < this.pokemons.length; i++) {
          var nameTemp = this.pokemons[i].name
          var contains = nameTemp.includes(val)
          if (contains) {
            TempPokemons.push(this.pokemons[i])
          }
        }
        this.pokemons = TempPokemons
        if (this.pokemons.length === 0) {
          this.text = 'Pokemon not found in this dataset. Press [Enter] to keep the search'
          this.snackbar = true
        }
      }
    }
  },
  methods: {
    navigatePokemon (data) {
      var number = this.selectedPokemon.id + (data)
      this.pokemonName = number
      this.findPokemon()
    },
    switchLocale (locale) {
      // console.log(locale)
      console.log(this.$i18n.locale)
      if (this.$i18n.locale !== locale) {
        this.$i18n.locale = locale
      }
    },
    getPokemonList () {
      this.progressBar = true
      this.$http.get(this.paginationPage)
        .then(res => {
          this.pokemons = res.body.results
          this.next = res.body.next
          this.previous = res.body.previous
          this.progressBar = false
        })
    },
    onSelectedPokemon (data) {
      this.pokemonName = data
      this.findPokemon()
    },
    findPokemon () {
      this.progressBar = true
      if (this.pokemonName === '') {
        this.$http.get('pokemon/' + this.pokemonName)
          .then(res => {
            this.pokemons = res.body.results
            this.progressBar = false
          })
      } else {
        this.$http.get('pokemon/' + this.pokemonName)
          .then(res => {
            var flag = false
            for (var i = 0; i < this.pokemons.length; i++) {
              if (this.pokemons[i].name === res.body.name) {
                flag = true
              }
            }
            if (!flag) {
              this.pokemons.push(res.body)
            }
            this.selectedPokemon = res.body
            this.modal = true
            this.progressBar = false
          }, (err) => {
            console.log(err)
            this.text = 'Pokemon not found in the hole application'
            this.progressBar = false
            this.snackbar = true
          }
          )
      }
    },
    nextPage () {
      this.paginationPage = this.next.substring(26, this.next.length)
      this.getPokemonList()
    },
    previousPage () {
      this.paginationPage = this.next.substring(26, this.next.length)
      this.getPokemonList()
    },
    indexSelected () {
      var offset = 10
      var numb = (this.page - 1) * offset
      this.paginationPage = 'pokemon?limit=10&offset=' + numb
      this.getPokemonList()
    },
    watchDetail () {
      this.modal = true
    }
  }
}
</script>

<style lang="css">
.grid {
  display: table;
  border-spacing: 0px
}
.row {
  display: table-row;
}
.buttonContainer {
  min-width: 70px !important;
  padding: 5px;
  margin: 5px;
}
.cell {
  max-width: 70px;
  height: 29px;
  background: white;
  display: table-cell;
}
.pokeBack {
  background: url('~@/../static/pokepattern.jpg') repeat;
  /* background-image: './static/pokepattern.jpg' */
}
</style>
