<template lang="html">
  <span>
    <v-card-title class="headline"><h2>{{pokemon.name}}</h2></v-card-title>
    <v-layout row wrap>
      <v-flex lg6 md4 xs12>
        <v-avatar size="150px">
          <img :src="pokemon.sprites.front_default" >   <img />
        </v-avatar>
        <v-avatar size="150px">
          <img :src="pokemon.sprites.back_default" >   <img />
        </v-avatar>
      </v-flex>
      <v-flex lg6 md8 xs12 class="blue-grey darken-3 pa-4 white--text">
        <v-layout row wrap justify-space-beteen>
          <v-flex>
            Weight: {{pokemon.weight}}<br>
            Height: {{pokemon.height}}<br>
            Base experience: {{pokemon.base_experience}}<br>
            <v-chip v-for="(type, index) in pokemon.types" :key="index">
              {{type.type.name}}
            </v-chip>
          </v-flex>
          <v-flex>
            <v-layout justify-center>
              <img class="mb-3" :src="require('../assets/pokeball2.png')" >
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </span>
</template>

<script>
export default {
  props: ['pokemon']
}
</script>

<style lang="css" scoped>
</style>
