<template>
  <div id="app">
    <v-app>
      <navbar></navbar>
      <Pokedex></Pokedex>
    </v-app>
  </div>
</template>

<script>
import Pokedex from './components/pokedex.vue'
import navbar from './components/navbar.vue'

export default {
  name: 'App',
  components: {
    Pokedex,
    navbar
  }
}
</script>

<style>
.cursor {
  cursor: pointer;
}
</style>
